/* CSS Document */

	
html, body
	{
	padding:0px;
	margin:0px;
	background-image:url(../images/bg.gif);
	background-repeat:repeat-x;
	}
	
.hdr{background-color:#0b1764;
	}	
	
.text{font-family:Georgia, "Times New Roman", Times, serif;
	color:#292929;
	font-size:20px;
	font-weight:bold;
	line-height:40px;
	}
	
.comingsoon{
	font-family:"Times New Roman", Times, serif;
	font-size:60px;
	color:#666666;
	font-weight:800;
	}
			
